body {
    text-align: center;
    background: url("resources/wallpaper.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar { width: 0 !important }
textarea::-webkit-scrollbar { width: 0 !important }
html, body {
    height: 100%;
}

h1 {
    font-weight: 800;
}

li {
    padding-left: 1.1em;
    color: #FFFFFF;
}
.navbar-dark .navbar-nav .nav-link {
    color: #d5d5d5;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #a7a7a7;
}
.jumbotron {
    padding-top: 8em;
    margin: 0px;
    background-color: #77797b;
    color: #FFFFFF;
    filter: grayscale(100%);
}

.jumbotron h1 {
    font-weight: 700;
    color: #262628;
    font-family: 'PT Sans', sans-serif;
    padding-top: 5px;
}

.navbar {
    font-size: 1.2em !important;
    font-weight: 600;
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
}

.bg-dark {
    background-color: #191B1E !important;
    filter: grayscale(100%);
}

#siteLogo {
    color: #d5d5d5;
}

#aboutMe {
    margin-top: 2em;
    /*background-color: #434a4d;*/
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
}

#aboutMe p {
    font-size: 2em;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}

#start {
    background: none;
    height: 100%;
    align-content: center;
    padding: 17%;
}

#main-title {
    font-size: 300%;
    color: #191B1E;
    font-weight: 500;
    /*margin: 0.6em;*/
    text-shadow: 4px 4px 2px rgba(41, 41, 41, 0.6);
    font-family: inherit;
}

#myName {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px 2px rgba(41, 41, 41, 0.6);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.5em;
}

#main-button {
    background: none;
    border: #191B1E solid 2px;
    color: #191B1E;
    font-weight: 700;
    font-size: 1.3em;
    padding: 0.8em 1.2em;
}

#main-button:hover {
    background: #191B1E;
    color: #FFFFFF;
}

#photos {
    margin-top: 4em;
    margin-bottom: 1em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 300px);
}

.item-grid-special {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.item-grid {

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:hover {
    transition-duration: 0.75s;
    /*border: solid 1px #CCC;*/
    box-shadow: 0 5px 5px 0 rgba(15, 15, 15, 0.4), 0 7px 22px 0 rgba(15, 15, 15, 0.4);
    transform: scale(1.01);
}

h3 {
    text-align: left;
    font-family: 'Baloo Thambi 2', cursive;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-left: #191B1E solid 15px;
    color: #191B1E;
    font-size: 3em;
    font-weight: 600;
}

#myPlaylist {
    filter: grayscale(100%);
}

iframe {
    display: inline-block;
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
    width: 100%;
}

form {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

#cards {
    color: #191B1E;
    font-size: 0.5em;
    align-content: center;
}

#cards div {
    margin: 10px;
}

.card {
    color: #FFFFFF;
    background-color: #2b2b2d;
    box-shadow: 0 4px 4px 0 rgba(180, 180, 180, 0.2);
}

#cards p {
    font-size: 18px !important;
}

input {
    text-align: center;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 1.1em;
    background-color: #212322;
}

#me-text {
    font-size: 1.2em !important;
}

h6 {
    color: #191b1e;
    font-size: 1.2em;
    font-weight: bold !important;
}

#avatar {
    width: 50%;
    font-size: 1.1em;
    float: right;
    clear: right;

}

#avatar-img {
    /*border: #212322 solid 3px;*/
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
    float: left;
    clear: left;
    max-width: 350px;
}
.avatar .mb-md-0 .mb-4 .mx-4{
    display: inline-block;
}
#avatar-div {
    /*display: inline-block;*/
    display: flex;
    align-self: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
#avatar a{
    font-size: 1.3em;
    color: #191B1E;
}
#contact-form .form {
    background: none;
    border: none;
    border-bottom: #FFFFFF solid 1px;
    color: #FFFFFF;
    border-radius: 0;
}

#exampleFormControlTextarea1 {
    background: none;
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
}

#submit-mail {
    text-align: center;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 30px;
}

.form-group {
    padding: 20px;
    box-shadow: -2px 4px 15px 5px #222222;
    margin-left: 25%;
    margin-right: 25% !important;
    background-color: rgba(64, 63, 64, 0.58);
}

#chat-box-div{
    /*height: 800px;*/
    overflow: hidden;
    padding-bottom: 10px;
}

/* Chat containers */
#chat-box-div .container {
    justify-content: start;
    /*display: flex;*/
    width: auto;
    color: #191B1E;
    /*border: 2px solid #dedede;*/
    background-color: rgba(241, 241, 241, 0.29);
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 10%;
    float: left;
    clear: left;
    font-family: 'Assistant', sans-serif;
    font-size: 0px;
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
}

#chat-box-div .container p {
    display: inline-block;
    float: right;
    clear: right;
    /*overflow: hidden;*/
    max-width: 90%;
    width: auto;
    margin-bottom: 0;
    font-size: 24px;
}

/* Darker chat container */
#chat-box-div .darker {
    /*border-color: #ccc;*/
    background-color: rgb(255, 255, 255);
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    margin-left: 10%;
    margin-right: 0%;
    float: right;
    clear: right;
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
}

#chat-box-div .darker p {
    display: inline-block;
    float: left;
    clear: left;
    max-width: 90%;
    width: auto;
    margin-bottom: 0;
}

/* Clear floats */
#chat-box-div .container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat-box-div .container img {
    float: left;
    clear: left;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
#chat-box-div .container img.right {
    float: right;
    clear: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Style time text */
#chat-box-div .time-right {
    float: right;
    clear: right;
    color: #191B1E;
    font-weight: bold;
}

/* Style time text */
#chat-box-div .time-left {
    display: block;
    float: left;
    clear: left;
    color: #191B1E;
    font-weight: bold;
}

#footer {
    box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.4), 0 6px 20px 0 rgba(15, 15, 15, 0.4);
    background-color: #191B1E !important;
    padding: 50px;
    color: #d5d5d5;
    filter:  grayscale(0%);
}
#footer h1{
    color: #d5d5d5;
    font-size: 1.3em;
}
#footer h1 span{
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1em;
    border-left: #d5d5d5 solid 2px;
}